<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Question</title>
  <link rel="stylesheet" href="/static/add_question.css">
</head>
<body>
<h1>Add a new Question</h1>
<form method="POST">
  <div class="question">
    <label for="question">Question</label>
    <input type="text" name="question" required>
  </div>
    <div class="answer">
    <label for="answer">Answer</label>
    <input type="text" name="answer" required>
  </div>
  <input type="submit" value="Create Question" />
</form>
</body>
</html>